/** 
* @file
* Initial style definition of the Kenwood theme for Acquia Gardens.
*
* The font size of all elements is set to 16px in default.css.  
* All subsequent measurements such as line height, margins and padding are calculated from this 16px font size.
*
* @see default.css
*/

/* @group HTML Elements */

/* @group Block Elements */

body {
  background-attachment: scroll;
  background-image: url(images/swirly.png);
  background-position: top left;
  background-repeat: repeat;
  font-family: Georgia,New Century Schoolbook,Nimbus Roman No9 L,serif;
}

blockquote {
  font-style: italic;
  font-weight: bold;
}

dt {
  font-weight: bold;
}

/* @end */

/* @group Inline Elements */

/* @end */

/* @group Headings */

h2,
h3,
h4,
h5,
h6 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/* @end */

/* @group Forms */

.form-submit {
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* @end */

/* @group Tables */

table th {
  border-style: solid;
  border-width: 1px 0 2px;
  font-size: 13px;
  font-weight: bold;
}

table td {
 border-style: solid;
 border-width: 1px 0 0;
}

table {
  border-style: solid;
  border-width: 0 0 1px;
}

table h2 {
  font-size: 18px;
}

/* @end */

/* @group Typography */

.site-name {
  font-size: 2.7692em;
  line-height: 1.5em;
}

.site-slogan {
  font-size: 1.2308em;
}

/* @end */

/* @end */

/* @group Wrappers */

.page {
  padding-top: 30px;
}

.stack-copyright {
  margin-top: 0;
  padding-bottom: 30px;
  padding-top: 0;
}

.wrapper-content,
.wrapper-footer {
  padding-bottom: 2.7692em;
}

.stack-header-inner {
  border-style: solid;
  border-width: 5px 5px 0;
  margin-top: 18px;
  padding: 18px 0;
  position: relative;
}

.stack-header-inner .inset-1 {
  width: 100%;
}

.wrapper-content {
  border-width: 0 5px;
  border-style: solid;
  margin-top: 0;
  top: -8px;
  z-index: 3;
}

.wrapper-header {
  z-index: 4;
}

.wrapper-footer {
  border-width: 0 5px 5px;
  border-style: solid;
  top: -8px;
}

.stack .box {
  padding-left: 0.4615em;
  padding-right: 0.4615em;
}

.stack-content-inner .box {
  padding-left: 0;
  padding-right: 0;
}

.stack-content-inner .sidebar,
.stack-content-inner .col-c {
  border-style: solid;
  border-width: 3px 0 0;
}

.stack-content-inner {
  padding-top: 1.3846em;
}

.stack-content-inner .col-c {
  border-width: 3px;
  min-height: 600px;
  padding: 0.6923em 1em;
  position: relative;
  top: -1.3846em;
}

.stack-content-inner .sidebar {
  padding-top: 1.3846em;
}

/* @end */

/* @group Grid */

.sidebar.left {
  margin-right: 0;
  padding-left: 6px;
  padding-right: 23px;
}

.sidebar.right {
  margin-left: 0;
  padding-left: 12px;
  padding-right: 6px;
}

/* @end */

/* @group Inflections */

/* @group Menus */

.block .menu {
  list-style-type: none;
}

.menu li,
.menu li.leaf,
.menu li li {
  list-style-image: url("images/menu-neutral.png");
}

.menu li.collapsed {
  list-style-image: url("/misc/menu-collapsed.png");
}

.menu li.expanded {
  list-style-image: url("/misc/menu-expanded.png");
}

.menu li a {
  text-decoration: none;
}

.menu li li a {
  font-weight: normal;
}

.wrapper-header .menu li,
.wrapper-header .menu li.leaf,
.wrapper-header .menu li.collapsed,
.wrapper-header .menu li.expanded {
  list-style-image: none;
}

/* @end */

/* @group Item List */

.item-list li {
  list-style-type: square;
}

/* @end */

/* @group Dropdown */

.menu-dropdown .menu .expanded + li {
  margin-left: 5px; /* LTR */
}

.menu-dropdown .menu .menu {
  -moz-box-shadow: -2px -1px 5px rgba(0, 0, 0, 0.2); /* LTR */
  -webkit-box-shadow: -2px -1px 5px rgba(0, 0, 0, 0.2); /* LTR */
  box-shadow: -2px -1px 5px rgba(0, 0, 0, 0.2); /* LTR */
  padding-bottom: 4px;
  top: 110%;
}
.menu-dropdown .menu .expanded {
  padding-left: 0.6667em; /* LTR */
}

.menu-dropdown .menu .expanded a {
  padding: 0 20px 0 0; /* LTR */
}

.menu-dropdown .menu .menu a {
  font-size: 0.8889em;
  margin-top: 1em;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0 12px 0 9px; /* LTR */
}

.menu-dropdown .menu .menu .last > a {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 1em;
}

.menu-dropdown .menu li > a > .more-indicator {
  height: 5px;
  right: 4px; /* LTR */
  top: 0.5em;
  width: 9px;
}

.menu-dropdown .menu .menu li > a > .more-indicator {
  height: 9px;
  top: 0.25em;
  width: 5px;
}

.menu-dropdown .menu li > .active-trail > .more-indicator {
    background-position: center center;
}

/* @end */

/* @end */

/* @group Regions */

/* @group Header */

.wrapper-header h2 {
  display: none;
}

.wrapper-header .menu li {
  background: none;
}

.stack-preheader .menu {
  padding-top:0.6923em;
}

/* @end */


/* @group Navigation */

.stack-navigation {
  background-attachment: scroll;
  background-image: url("images/nav_bg_right.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-right: 15px;
  width: 100%;
}

.stack-navigation .inset-1 {
  background-attachment: scroll;
  background-image: url("images/nav_bg_left.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  left: -15px;
  padding-left: 15px;
  position: relative;
  width: 100%;
}

.stack-navigation .inset-2 {
  background-image: url("images/nav_bg_bottom.png");
  background-position: center bottom;
  padding: 0 0 8px;
  width: 100%;
}

.stack-navigation .inset-3 {
  margin: 0 -13px;
  padding: 4px 6px;
}

.stack-navigation .inset-4 {
  border-style: solid;
  border-width: 1px 0;
  width: 100%;
}

.stack-navigation .box {
  padding: 0 29px;
  width: auto;
}

.stack-navigation .menu {
  font-family:Georgia,New Century Schoolbook,Nimbus Roman No9 L,serif;
  line-height: normal;
  padding:0.5em 0;
  width: auto;
}

.stack-navigation .menu li {
  font-size: 18px;
}

.stack-navigation .menu li a {
  font-weight: normal;
  text-decoration: none;
}

/* @end */

/* @group Banner */

.stack-banner {
  border-width: 5px;
  border-style: solid;
}

/* @end */

/* @group Columns */

.col h2,
.sidebar h2 {
  background-attachment: scroll;
  background-image: url("images/h2_bg.png");
  background-position: center bottom;
  background-repeat: repeat;
  border:  medium none;
  left: 0;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 0;
  position: relative;
  right: 0;
  width: auto;
}

.col.last h2 {
  -webkit-background-origin: border;
  background-origin: border-box;
  border-right: 2px solid transparent;
}

.col.last h2,
.sidebar.right h2  {
  background-image: url("images/h2_bg.png");
  background-position: right bottom;
  left: 0;
  padding-bottom: 10px;
  padding-left: 11px;
  padding-right: 11px;
  width: 100%;
}

/*.col.last h2 {
  -webkit-background-origin: border;
  background-origin: border-box;
  border-right: 2px solid transparent;
}*/

.col:first-child h2,
.sidebar.left h2{
  background-color: transparent;
  background-image: url("images/h2_bg.png");
  background-position: bottom left;
  left: -21px;
  padding-bottom: 10px;
  padding-left: 21px;
  padding-right: 0;
  width: 100%;
}

.sidebar.left h2 {
  left: -21px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 23px;
}

.sidebar.right h2 {
  left: -12px;
  padding-bottom: 10px;
  padding-left: 11px;
  padding-right: 22px;
}

.sidebar.left + .sidebar.left {
  padding-left: 2%;
  padding-right: 1%;
}

.sidebar.right + .sidebar.right {
  padding-right: 2%;
  padding-left: 1%;
}

.sidebar.left + .sidebar.left h2,
.sidebar.right + .sidebar.right h2 {
  background-image:none;
  left:0;
  padding-bottom:2px;
  padding-left:5px;
  padding-right:0;
  right:0;
  width: 100%;
}

.sidebar.left + .sidebar.left h2 {
  padding-right: 2%;
}

.sidebar.right + .sidebar.right h2 {
  left: -5%;
  padding-left: 5%;
}

.col.only h2 {
  width: 32%;
}

.col .node-testimonial h2 {
  background: none;
  padding: 0;
}

/* @end */

/* @end */

/* @group Components */

/* @group Breadcrumb */

.breadcrumb {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: normal;
}

/* @end */

/* @group Customer */

.block-sqbs h2 {
  margin-bottom: 1.3846em;
}

.block-sqbs h2 ~ div h2 {
  border:  medium none;
  margin-bottom: 0;
  margin-top: 0;
}

/* @end */

/* @group Messages */

.messages a {
  font-weight: bold;
}

/* @end */

/* @group Forum */

.forum tr td.forum {
  padding-left: 1.0769em;
}

#forum .login span {
  font-weight: bold;
}

.forum th a {
  text-decoration: none;
}

.forum .created,
.forum .last-reply,
.forum .description {
  font-style: italic;
}

.forum .title a,
.forum .name a {
  font-weight: bold;
}

#forum tr td.forum { /* Style Override */
  background-image: none;
}

/* @end */

/* @group Comments */

.node .meta {
  margin-top: .25em;
}

.comment-wrapper h2,
.comment-wrapper h3 {
  border: medium none;
}

.node .comment-wrapper h2 {
  background: none;
}

.comment-wrapper .comment {
  border-style: solid;
  border-width: 1px 0 0;
}

/* @end */

/* @group Feedback Link */

#block-feedback-feedback a {
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -o-border-bottom-left-radius: 0;
  -o-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-style: solid;
  border-width: 1px;
}

/* @end */

/* @group Node */

.sidebar .block-node .delete,
.sidebar .block-node .edit {
  font-size: 0.9231em;
  line-height: 1em;
}

.sidebar .block-node .delete {
  padding-left: 0;
}

.sidebar .block-node .delete a {
  border-style: solid;
  border-width: 0 0 0 1px;
  padding-left: 5px;
}

/* @end */

/* @group Rotating Banner */

.stack-banner {
  border: none;
}

.stack-banner .block-rotating-banner {
  display: block;
  min-width: inherit;
}

.stack-banner .rb-slides {
  border-style: solid;
  border-width: 10px;
}

.stack-banner .controls {
  margin-top: 10px;
}

/* @end */

/* @group FAQ */

.faq-item-question-label {
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  float: left;
  font-family: Georgia,New Century Schoolbook,Nimbus Roman No9 L,serif;
  font-size: 22px;
  font-style: italic;
  line-height: 0.8em;
  margin: 0 .5em 0 0;
}

.node-faq-item .faq-item-inline-question-title {
  margin-top: 3px;
}

/* @end */

/* @group Aggregator */

.block-aggregator ul li {
  border-bottom: 1px dotted;
}

.block-aggregator ul li.first {
  padding-top: 0;
}

/* @end */

/* @group Product Feature */

.wrapper-content .stack-precontent .block h2 {
  -moz-box-shadow: none;
  -o-box-shadow:none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  left: 0;
  padding: 0 0 10px 0;
  width: auto;
}

/* @end */

/* @group Customers */

 .col + .col h2.customer-header {
  background: none;
  border: medium none;
}

/* @end */

/* @group Webform */

.webform-client-form input {
  /* Chosen so it fits on a page with a three column layout */
  max-width: 34em;
}

.webform-client-form .webform-container-inline input {
  /* Chosen as above, but also taking into account the inline label width */
  max-width: 25em;
}

.webform-client-form fieldset input {
  /* Chosen so it fits within a fieldset on a page with a three column layout */
  max-width: 32em;
}

.webform-client-form fieldset .webform-container-inline input {
  /* Chosen as above, but also taking into account the inline label width */
  max-width: 24em;
}

/* @end */

/* @group jQuery UI adjustments */

.ui-datepicker table {
  border-bottom: 0 none;
}

/* @end */

/* @end */

/* @group System Overrides */

.messages ul {
  margin: 0;
  padding-left: 2em;
}

/* @end */

/* @group Palette */

/**
* Colors
* white    #FFFFFF - White
* black    #2a1911 - Charcoal
* a        #272a0f - Ruby Red
* b        #63591b - Dark Blue
* c        #646a2c - Burnt Orange
* d        #bbab56 - Tan
* e        #dfdb92 - Light Mustard

*/

body {
  background-color: #272a0f;
  color: #2a1911;
}

.wrapper-content {
  background-color: #FFFFFF;
}

.header .inset-1 {
  background-color:#FFFFFF;
}

.stack-navigation .inset-3 {
  background-color: #646a2c;
}

.sidebar.left + .sidebar.left h2 {
  background-color: #dddddd;
}

.sidebar.right + .sidebar.right h2 {
  background-color: #dddddd;
}

.col + .col h2.customer-header {
  background-color: transparent;
}

.sidebar.left + .sidebar.left h2.customer-header {
  background-color: transparent;
}

.wrapper-footer {
  background-color: #FFFFFF;
}

.stack-header-inner {
  background-color: #FFFFFF;
}

.rb-slides {
  background-color: #dddddd;
}

#block-feedback-feedback a {
  background-color: #646a2c;
}

#block-feedback-feedback a:hover {
  background-color: #63591b;
}

.controls.buttons a.activeSlide {
  background-color: #646a2c;
}

.form-submit {
  background-color: #dfdb92;
}

.form-submit + input {
  background-color: #ffffff;
}

.menu-dropdown .menu .menu {
  background-color: #646a2c;
}

a,
blockquote { 
  color: #63591B;
}

a:hover {
  color: #bbab56;
}

li a.active {
  color: #bbab56;
}

.breadcrumb {
  color: #bbab56;
}

h1 {
  color: #2a1911;
}

.stack-preheader a {
  color: #FFFFFF;
}

.stack-navigation .menu li a:hover {
  color: #FFFFFF;
}

.stack-navigation .menu li a.active {
  color: #FFFFFF;
}

table a {
  color: #63591b;
}

.page-forum .title {
  color: #272a0f;
}

table th {
  color: #272a0f;
}

table th a {
  color: #272a0f;
}

.forum a {
  color: #272a0f;
}

.forum .created {
  color: #bbbbbb;
}

.forum .replies {
  color: #bbbbbb;
}

.forum .last-reply {
  color: #bbbbbb;
}

.forum .replies a {
  color: #272a0f;
}

.stack-navigation .menu li a {
  color: #dfdb92;
}

table td {
  color: #63591b;
}

.messages a {
  color: #63591b;
}

.node .meta {
  color: #999999;
}

#block-feedback-feedback a {
  color: #FFFFFF;
}

.rotating-banner {
  color: #272a0f;
}

.menu-dropdown .menu .expanded:hover > a {
  color: #ffffff;
}

.menu-dropdown .menu .active-trail > a {
  color: #ffffff;
}

.menu-dropdown .menu .active-trail:hover > a {
  color: #ffffff;
}

.menu-dropdown .menu .menu li:hover > a {
  color: #ffffff;
}

.menu-dropdown .menu .menu a.active {
  color: #bbab56;
}

.menu-dropdown .menu .menu li:hover > a.active {
  color: #ffffff;
}

.menu-dropdown .menu .menu .active-trail > a {
  color: #bbab56;
}

.menu-dropdown .menu .menu .active-trail:hover > a {
  color: #ffffff;
}

.menu li li {
  border-bottom-color: #cccccc;
}

.stack-banner {
  border-color: #dddddd;
}

.stack-banner .rb-slides {
  border-color: #dddddd;
}

.stack-header-inner {
  border-color: #dddddd;
}

.stack-content-inner .sidebar {
  border-color: #dddddd;
}

.stack-content-inner .col-c {
  border-color: #dddddd;
}

.wrapper-footer {
  border-color: #dddddd;
}

table {
  border-color: #dddddd;
}

table th {
  border-color: #dddddd;
}

table td {
  border-color: #dddddd;
}

.wrapper-content {
  border-color: #dddddd;
}

h3, h4, h5 {
  border-bottom-color: #dfdb92;
}

.comment-wrapper .comment + .comment {
  border-color: #dfdb92;
}

.sidebar .block-node .delete a {
  border-color: #2A1911;
}

#block-feedback-feedback a {
  border-color: #ffffff;
}

.stack-navigation .inset-4 {
  border-color: #DFDB92;
}

h2 {
  border-color: #999999;
}

.menu-dropdown .menu .menu .last > a {
  border-bottom-color: #DFDB92;
}

/* @group Non-palette Colors */

.col.last h2 {
  background-color: transparent;
}

.col:first-child h2 {
  background-color: transparent;
}

.messages {
  color: #000;
}

.messages ul {
  color: #000;
}

.messages ul li {
  color: #000;
}

/* @end */ 

/* @end */

/* @group IE */

/* @group IE6 */

/* @end */

/* @group IE7 */

/* @end */

/* @group IE8 */

/* @end */

/* @end */
