/**
 * @file
 * Navigation Styling
 */

#main-menu li a {
  color: #FFFFFF;
  /*border-bottom: solid 1px #FFFFFF;
  padding-bottom: 2px;*/
  letter-spacing: 1px;
  text-transform: uppercase;
  -moz-transition: color 0.4s ease-in-out;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

#main-menu li a:hover {
  color: #E95C33;
  /*border-bottom: solid 3px #E95C33;*/
  -moz-transition: border-bottom-color 0.4s ease-in-out;
  -webkit-transition: border-bottom-color 0.4s ease-in-out;
  transition: border-bottom-color 0.4s ease-in-out;
}

/*
 * The active item in a Drupal menu
 */
#main-menu li a.active {
  color: #E95C33 !important;
  /*border-bottom: solid 3px #E95C33 !important;
  padding-bottom: 2px;*/
  -moz-transition: color 0.4s ease-in-out;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}


/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
  margin: -470px 0 0 15%;
  position: absolute;
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 30px 0 0; /* LTR */
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
  font-size: 1.375em;
}

#secondary-menu {
  float: right;
}

/*
 * Menu blocks
 */
.block-menu {
}

.contextual-links ul.links li, /* A simple method to get navigation links to appear in one line. */
.contextual-links .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block {
}
